.dialog {
    position: absolute;
    box-shadow: 0px 4px 32px rgba(0,0,0,0.9);
    width: auto;
    height: auto;
    min-width: 300px;
    max-width: 90vw;
    max-height: 92vh;
    background: #202020;
    border: 1px solid #444;
    border-radius: 4px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    z-index: 200;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

.fullScreen {
  max-width: min(100vw, 600px);
  width: 100vw;
  max-height: calc(100% - 64px);
  height: calc(100% - 64px);
  top: 10px;
  left: 0;
  margin: 0;
}

.isOpen {
    opacity: 1.0;
    visibility: visible;
}

.header {
    display: flex;
    font-weight: 600;
    cursor: move;
    border-bottom: 1px solid #444;
}

.body {
    padding: 10px;
    overflow-y: auto;
}

.flexSpace {
    flex-grow: 1;
}

.headerText {
    padding: 10px;
}


.closeButton button {
    background: #333;
    width: 50px;
    height: 40px;
    color: white;
    font-size: 16px;
    border-radius: 0;
    border-top-right-radius: 4px;
    border-left: 1px solid #444;
    justify-content: center;
}

.closeButton svg {
  margin: 0;
}

.closeButton button:hover {
    background: #2d2d2d;
}

.withoutPadding {
    padding: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: red;
}
