.dropdown {
    position: absolute;
    width: 200px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.2s;
    background: #222;
    border: 1px solid #555;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    z-index: 2;
    bottom: 56px;
    right: 10px;
    
}

.alignLeft {
  left: 10px;
  right: auto;
}

.open {
    visibility: visible;
    opacity: 1;
}

.dropdown button {
    color: white;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #444;
    background: transparent;
}

.dropdown button svg, .dropdown button > input[type="checkbox"] {
  margin-right: 8px;
  width: 18px;
  font-size: 18px;
}

.dropdown button:last-child {
  border-bottom: 0;  
}

.dropdown button:hover {
    background: #333;
}
