
.segmentControl {
    display: flex;

    margin-bottom: 16px;
}


.segmentControl.expand {
    width: 100%;
}

.segmentControlItem {
    padding: 6px 16px;
    border: 1px solid gray;
    border-right: 0;
    cursor: pointer;
}

.segmentControlItem.expand {
    flex-grow: 1;
    text-align: center;
}

.selectedSegmentControlItem {
    background: #333;
}

.segmentControlItem:first-child {
    border-left: 0;
}
