.toolbar {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  border-bottom: 1px solid #333;
  width: 100vw;
  max-width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0;
  z-index: 4;
  background-image: linear-gradient(180deg, transparent, rgba(0, 0, 0, 1.0));
  padding: 10px 0;
}

.toolbar button, .toolbar :global(.labelButton) {
  background: transparent;
  color: white;  
  font-size: 16px;
}

.toolbar button svg, .toolbar :global(.labelButton) svg {
  font-size: 22px;
    width: auto;
}

.flexSpace {
  width: 1px;
  flex-grow: 1;
}

.item .tooltipText, .item .tooltipTextRight {
  visibility: hidden;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 10px;
  border-radius: 6px;
  white-space: nowrap;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
  top: -30px;
}

.item .tooltipTextRight {
  left: auto;  
  right: 0px;
}
/* Show the tooltip text when you mouse over the tooltip container */
.item:hover .tooltipText, .item:hover .tooltipTextRight {
  visibility: visible;
}

.item {
    padding: 10px;
    position: relative;
    display: flex;
    align-items: center;
}

.item:first-child {
    margin-left: 10px;
}

.buttonSpace {
    flex-grow: 1;
}

.item h1 {
    margin: 0 20px 0 0;
    font-size: 1.5em;
}

.romName {
  font-size: 0.8em;
}

@media screen and (orientation:portrait) {
  .item > span {
    display: none;
  }  

  .debugItem, .debugItem div {
    display: none;
  }
}