body {
  background: #1e1e1e;
  color: white;
  height: 100vh;
  box-sizing: border-box;

}

.component {
  margin-right: 10px;
}

.instructionBar {
  width: 460px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100%;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace !important;
  margin-right: 20px;
}

.breakpoint {
  width: 35px;
  height: 35px;
  margin-left: -8px;
  margin-top: -8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.breakpoint > div {
  margin-top: 2px;
  width: 15px;
  height: 15px;
  border-radius: 7px;
  flex-grow: 0;
}

.breakpoint:hover > div {
  background: #ac0902;
  opacity: 0.5;
}


.breakpoint.active > div {
  opacity: 1.0;
  background: #ac0902;
}

.row {
  display: flex;
  padding: 8px 0 0 8px;
  height: 35px;
  border-top: 1px solid black;
  box-sizing: border-box;
}

.currentRow + .row {
  border-top: 1px solid #569BD5;
}

.currentRow {
  background: #3e3e3e;
  border-top: 1px solid #569BD5;
}

.content {
  flex-grow: 1;
}

.addressComponent {
  color: #569BD5;
}

.opcodeComponent {
  color: #CE9178;
}

.App {
  display: flex;
  height: 100%;
  box-sizing: border-box;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


#root {
  height: 100%;
  box-sizing: border-box;
}


* {
  scrollbar-color: rgba(0, 0, 0, 0.18) #e5e5e5;
  scrollbar-width: thin;
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(240, 240, 240, 0.5);
  border: 1px solid #ababab;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(240, 240, 240, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(240, 240, 240, 0.2);
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

.debugArea {
  display: flex;
}


button {
  flex-grow: 1;
  height: 35px;
  border: 0;
  cursor: pointer;
}

button:focus {
  outline: none;
}

button:hover {
  background: #cacaca;
}
td {
  padding: 7px;
  min-width: 50px;
}

td label {
  color: #569BD5;
  clear:both;
  display:block;
  font-size: 0.8em;
}

.listContainer, .breakpointContainer {
  flex-grow: 1;
  flex-shrink: 0;
  min-width: 370px;
  padding: 14px;
}

.addBreakpoint {
  margin-top: 10px;
}

.breakpointContainer > div {
  margin-top: 8px;
  display: flex;
  align-items: center;
}

.breakpointContainer input {
  margin-right: 10px;
}

.breakpointContainer button {
  height: 25px;
  flex-grow: 0;
  margin-left: 10px;
}

.ppuContainer {
  width: 770px;
  height: 386px;
  box-sizing: border-box;
  border: 1px solid gray;
}

.ppuNameTableContainer {
  width: 770px;
  height: 722px;
  box-sizing: border-box;
  border: 1px solid gray;
}


.ppuOamDebugger {
  height: 256px;
  overflow-y: auto;
  padding: 4px;
  margin-top: 11px;
  border: 1px solid gray;
}

.ppuDebugger, .ppuNameTableDebugger, .emulatorControls {
  display: flex;
  margin-left: 40px;
  flex-direction: column;
}

.emulatorControls {
  flex-direction: row;
  margin-bottom: 14px;
  width: auto;
}

.drawingArea {
  display: flex;
}

.controlsArea {
  display: flex;
  flex-direction: column;
}

.controlsArea button {
  margin-right: 5px;
}

.displayContainer {
  width: 770px;
  height: 722px;
  box-sizing: border-box;
  border: 1px solid gray;
}


.ppuContainer canvas, .displayContainer canvas {
  box-sizing: border-box;

  transform: scale(3);
  transform-origin: 0% 0%;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

.ppuNameTableContainer canvas {
  box-sizing: border-box;

  transform: scale(1.5);
  transform-origin: 0% 0%;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}


.segmentControl {
  display: flex;
  border-radius: 6px;
  margin-bottom: 16px;
}


.segmentControl.expand {
  width: 100%;
}

.segmentControlItem {
  padding: 6px 16px;
  border: 1px solid gray;
  border-right: 0;
  cursor: pointer;
}

.segmentControlItem.expand {
  flex-grow: 1;
  text-align: center;
}

.selectedSegmentControlItem {
  background: #333;
}

.segmentControlItem:first-child {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.segmentControlItem:last-child {
  border-right: 1px solid gray;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.monospace, .hexViewer {
  white-space: pre;
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace !important;
}

.hexViewer {
  max-height: 600px;
  overflow-y: auto;
  width: 720px;
}

.dumpButton {
  flex-grow: 0;
}

.expected {
  color: green;
}

.found {
  color: red;
}
