* {
  box-sizing: border-box;
  scrollbar-color: rgba(0, 0, 0, 0.18) #e5e5e5;
  scrollbar-width: thin;
}

body {
  background: #1e1e1e;
  color: white;
  height: 100vh;
  box-sizing: border-box;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  align-items: center;
}

#root {
  height: 100%;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 12px;
  height: 8px;
}

::-webkit-scrollbar-button {
  width: 0;
  height: 0;
}

::-webkit-scrollbar-thumb {
  background: rgba(240, 240, 240, 0.5);
  border: 1px solid #ababab;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(240, 240, 240, 0.3);
}

::-webkit-scrollbar-thumb:active {
  background: rgba(240, 240, 240, 0.2);
}

::-webkit-scrollbar-track:active,
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
  border: 0;
}

::-webkit-scrollbar-corner {
  background: transparent;
}


.ppuContainer {
  width: 770px;
  height: 386px;
  box-sizing: border-box;
  border: 1px solid gray;
}

.displayContainer {
  height: 100%;
  aspect-ratio: 256 / 240;
  box-sizing: border-box;
}

.debugDisplayContainer {
  width: 770px;
  height: 40px;
  border: 1px solid gray;
  border-bottom: 0;
}

.displayContainer canvas {
  box-sizing: border-box;
  transform-origin: 0% 0%;
  /* Firefox */
  image-rendering: crisp-edges;
  /* Chromium + Safari */
  image-rendering: pixelated;
}

input[type="file"] {
  display: none;
}
