button, .labelButton {
    flex-grow: 1;
    height: 44px;
    border: 1px solid #444;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    display: flex;
    color: white;
    background: #222;

    font-size: 0.85rem;
    justify-content: flex-start;
    align-items: center;
}

button svg + span, .labelButton svg + span, button>input + span {
    margin-left: 10px;
}

input[type="checkbox"] {
  margin: 0px;
}

button svg, button > input[type="checkbox"] {
  margin-right: 8px;
  width: 18px;
  font-size: 18px;
}

button:focus {
    outline: none;
}

button:hover, .labelButton:hover {
    background: #444;
}

td {
    padding: 7px;
    min-width: 50px;
}

dd {
  margin-left: 0;
  font-size: 0.92em;
  margin-bottom: 0.4em;
}

dt {
  color: #569BD5;
  font-size: 0.75em;
}

td label {
    color: #569BD5;
    clear:both;
    display:block;
    font-size: 0.8em;
}


button:disabled, button:disabled:hover {
  color: #555;
  background-color: #bababa;
  cursor: default;
}

body {
  touch-action: none;
}

* {
  -webkit-touch-callout: none;
  -webkit-user-callout: none;
  -webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-modify: none;
  -webkit-highlight: none;

    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}
