.toolbar {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
}

.item {
    padding: 10px;
    position: relative;
}

.item:first-child {
    margin-left: 10px;
}

.item button {
    padding: 10px;
    border-radius: 4px;
    display: flex;
}

.buttonSpace {
    flex-grow: 1;
}

button svg {
    margin-right: 6px;
}

.item h1 {
    margin: 0 20px 0 0;
}
